model_id="mildnet_vgg16"
loss="contrastive_loss"
optimizer="mo"
train_csv="tops_train_shuffle.csv"
val_csv="tops_val_full.csv"
train_epocs=8
batch_size=16
lr=0.001
config=training_configs/cloudml-gpu.yaml