model_id="mildnet_vgg16"
loss="hinge_loss"
optimizer="mo"
train_csv="tops_cropped_train.csv"
val_csv="tops_cropped_val_full.csv"
train_epocs=20
batch_size=16
lr=0.0001
config=training_configs/cloudml-gpu.yaml